#Apps{
width: 100%;
height: 800px;
background-color: coral;

}
#Games{
    width: 100%;
    height: 800px;
    background-color: aqua;
    


}
#Chatbot{
    width: 100%;
    height: 800px;
    background-color: red;
    


}
.line{
height: 6px;
width: 70px;
background-color: black;
margin: 8px auto;

}
body{
text-align:center ;




}
img{
transition: transform.2s;


}
img:hover{
transform: scale(0.9);


}